# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules
.next
out
.vercel
.turbo

# Env files
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.swp
.DS_Store
